* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f0f4f8;
  margin: 0;
  padding: 0;
}

/* Layout */
.mainbody {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
  flex-wrap: wrap;
}

/* Car Card  */
.carcard {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  
}

.carcard:hover {
  
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.imag {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.imag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardetails {
  padding: 20px;
  color: #0a0a0a;
  font-weight: bold;
}

.inforow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  color: #333;
}

.value {
  color: #007bff;
}

.pricesection {
  margin-top: 15px;
  /* text-align: center; */
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #28a745;
  margin-bottom: 5px;
}

.note {
  font-size: 12px;
  color: #777;
}

/* === Booking Form === */
.bookingcontainer {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 30px 40px;
  width: 550px;
}

.bookingcontainer h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtext {
  color: #666;
  margin-bottom: 15px;
  font-size: 14px;
}

.carname-label {
  font-weight: 600;
  margin-bottom: 20px;
}

.carname-label span {
  color: #007bff;
}

.inform {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field p {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.fill {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.fill:focus {
  border-color: #007bff;
}
/* payment method  */
.paymentbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.paymentbox label {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.paymentbox select {
  width: 60%;
  padding: 8px;
  /* border: 2px solid #d4a017; */
  border-radius: 6px;
  outline: none;
  color: #333;
  font-size: 15px;
  background-color: #fff9e6;
}

.paymentbox select:hover {
  border-color: #0da2e7;
}


.submitbtn{
  
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.submitbtn:hover {
  background: #0056b3;
}

/* Responsive */
@media (max-width: 900px) {
  .mainbody {
    flex-direction: column;
    align-items: center;
  }
  .booking-container, .car-card {
    width: 90%;
  }
}
