* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7fdfd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  height: 600px;
  display: flex;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Left side */
.left-side {
  flex: 1;
  background-image: url(IMG_7902.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(135deg, #2aa198, #00bfa5); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.illustration {
  text-align: center;
}

.illustration img {
  width: 100%;
  max-width: 400px;
}

/* Right side */
.right-side {
  flex: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-box {
  width: 80%;
  max-width: 350px;
}

.tab {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.tab a {
  text-decoration: none;
  margin-right: 30px;
  color: #00bfa5;
  font-weight: 500;
  position: relative;
}

.tab a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #00bfa5;
  bottom: -6px;
  left: 0;
  border-radius: 2px;
}

h2 {
  color: #00796b;
  font-size: 24px;
  margin-bottom: 5px;
}

.subtext {
  color: #999;
  font-size: 14px;
  margin-bottom: 25px;
}

label {
  display: block;
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-bottom-color: #00bfa5;
}

.forgot {
  text-decoration: none;
  color: #00bfa5;
  font-size: 13px;
  float: right;
  margin-top: -10px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  background: linear-gradient(90deg, #00bfa5, #009688);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, #009688, #00bfa5);
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-side {
    height: 300px;
  }

  .illustration img {
    max-width: 300px;
  }
}
